body{ 
  background-image: url(https://images.unsplash.com/photo-1550604995-2af04465154c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80);
}
navbar-light .navbar-brand{
  background-color: teal;
  color: white;
  font-weight: bold; 
  border-width:  teal;
} 
.card{ 
  padding-top: 10px;
  background-color: rgb(0, 0, 0); 
  background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(0.5rem);   
      
} 

card-title{ 
        text-decoration: tomato;
      } 
card-text{ 
text-decoration: thistle;
      }
  form {
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px; 
  background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(0.5rem);
}
h1{
  color: teal;
  margin-left: 20px;
}
hr{
  border-top: 1px solid teal;
}
.email{
  margin-top: 10px;
}
.col-md-2 button{
  margin-top: 10px;
}
.footer{
  background-color: #474c54;
  text-align: center;
  border-top: solid teal;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 400px) {
  div.col{
      width: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  div.col{
      width: 600px;
  }
}
@media screen and (min-width: 992px) and (max-width: 992px) {
  div.col{
      width: 770px;
  }
}

