.background{ 
  background-color: #bf3030;
}
.navbar-light .navbar-brand{
  background-color: teal;
  color: white;
  font-weight: bold; 
  border-bottom: teal;
  position: absolute;
} 
:root {
  --secondary-color: #09003a;
  --contrast-color: #bf3030;
} 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 104%;
  z-index: -10;
  background-color: var(--contrast-color);
} 


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .9s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: "Poppins", sans-serif;
  transition: all .9s ease;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: fit-content; 
  
  
  /*overflow: scroll; */
} 
main
{
height: 750px;
overflow-x: hidden;
overflow: scroll;
}
h1{
  color: teal;
  margin-left: 20px;
}
hr{
  border-top: 1px solid teal;
}
div.row{
  
  margin-left: 20px;
  margin-right: 10px;
  width: fit-content; 
  overflow-x: hidden;
  overflow: auto scroll;
}
img{
  margin-right: 20px;
  margin-bottom: 10px;
}
footer{
  background-color: #474c54;
  text-align: center;
  border-top: solid teal;
  padding-bottom: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
/*@media screen and (min-width: 250px) and (max-width: 768px) {

  .container{
      width: 2500px;
  }
}
/* @media screen and (min-width: 768px) and (max-width: 768px) {
  .container{
      width: 400px;
  }
} 
@media screen and (min-width: 992px) and (max-width: 992px) {
  .container{
      width: 770px;
  }
} */
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
} 